Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-CORS==3.0.10
pymysql==1.0.3
cryptography==39.0.2
requests==2.27.1
Werkzeug==2.0.3
python-dotenv==0.19.2
pyunpack==0.3.1
patool==1.12
pandas==1.4.4
numpy==1.22.4
matplotlib==3.5.3
torch==1.12.1
torchvision==0.13.1
pillow==9.5.0
